<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">ServerApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
            <AuthorizeView>
            <Authorized>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/communicationAdd">
                <span class="oi oi-plus" aria-hidden="true"></span> Add communications
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/communication-types">
                <span class="oi oi-plus" aria-hidden="true"></span> Add Comm. Types
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/eventSimulator">
                <span class="oi oi-plus" aria-hidden="true"></span> Change Comm. Status
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/communications">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Communications List
            </NavLink>
        </div>
        
        </Authorized>
        <NotAuthorized>
       
        </NotAuthorized>
        </AuthorizeView>  
        </nav>
        </div>
@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
